body {
    background-color:#FFF;
}

h3 {
    padding-top: 0.5em;
}

h5 {
    padding-bottom: 1em;
}

footer {
    padding: 1em;
}

.social-nav {
    padding-bottom: 1em;
}

#evittWidgetEmbed {
    margin: 50px;
}