body {
	background-color:#FFF;
}

header {
    margin: 50px;
}

nav {
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

#evittWidgetEmbed {
    margin: 50px;
}