body {
    background-color:#FFF;
}

footer {
    padding: 1em;
}

.jumbotron-fluid {
    padding: 1em;
}

.social-nav {
    padding-bottom: 1em;
}

#desc-text {
    padding: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
}

#evittWidgetEmbed {
    margin: 50px;
}